@mixin font($alias, $name, $weight) {
  @font-face {
    font-family: $alias;
    src: url("@/assets/fonts/" + $name + ".woff2") format("woff2");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@include font("Roboto", "Roboto-Regular", 400);
